

::-webkit-scrollbar{

}


.chatDisplay{
    /* TODO: fix so the wrapper manages the height*/
    display: flex;
    flex-direction: column-reverse; /* messages flow from bottom*/
    height: 400px;
    width: 100%;
    overflow-y: scroll;
    scroll-behavior: smooth;
    border: solid black 1px;
    padding: 10px;
}

.chatInput{

}

.chatInputButton{

}

.chatWrapper{
    width: 70vw;
    height: 300px;
}