@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

::-webkit-scrollbar{

}

* {
    box-sizing: border-box;
    margin: 0px;
}

body {
    background-color: hsl(235, 21%, 15%);
    display: flex;
    justify-content: center;
}

h1, h2 {
    color: #edf2f4;
    font-family: 'Raleway', sans-serif;
    padding: 0.20em 0.35em;
    border-left: white 2px solid;
    width: 100%;
}


.chatDisplay{
    /* TODO: fix so the wrapper manages the height*/
    display: flex;
    flex-direction: column-reverse; /* messages flow from bottom*/
    align-items: baseline;
    height: 80vh;
    width: 100%;
    overflow-y: scroll;
    scroll-behavior: smooth;
    border: solid black 1px;
    background-color: #2b2d42;
    color: #edf2f4;
    font-size: 20px;
    font-family: ;
}

.chatDisplay > * {
    padding: 0.75em;
    border-bottom: 1px solid #1e202e;
}

.chatDisplay > *:hover {
    background-color: #1e202e;
}

.chatInput{

}

.chatInputButton{

}

form {
    display: flex;
    position: sticky;
    background-color: #2b2d42;
    border-left: solid black 1px;
    border-right: solid black 1px;
}

form input {
    flex-grow: 5;
    padding: 1.5em;
    height: 50px;
    border: 0px solid;
    background-color: #2b2d42;
    color: #edf2f4;
}

input:focus{
    outline: none;
}

form button {
    background-color: #1e202e;
    color: #edf2f4;
    flex-grow: 1;
    border: 1px solid #2b2d42;
}

form button:focus {
    background-color: #2b2d42;
}

.chatWrapper{
    width: 70vw;
    height: 300px;
    
}

 @media (max-width: 700px) {

    .chatDisplay{
        height: 100vh;
    }

    .chatWrapper{
        width: 100vw;
        height: 300px;
    }

  } 
